<!DOCTYPE html>


<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<h1> All orders </h1>
<body>

    <table>
        <tr>
            <th>Order ID </th>
            <th> Amount </th>
            <th> User email </th>
            <th> User's name </th>
            <th> Ordered On  </th>
            <th> Status </th>
            
        </tr>
        <% orders.forEach((order)=>{ %>
            <tr>
                <td> <a href="/admin/orders/<%= order.id %>"> <%= order.id %></a> </td>
                    <td> <%= order.amount %></td>
                    <td>  <%= order.email %> </td>
                    <td>  <%= order.nickname %> </td>
                    <td>  <%= order.createdAt %> </td>
                    <td> <%= order.status %> </td>
                    
                </tr>
                <% }) %>
    </table>

</body>

</html>