<% include ../partials/header.ejs %>

	<!--/header-middle-->

	<!-- <div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html">Home</a></li>
								<li class="dropdown"><a href="#" class="active">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html" class="active">Products</a></li>
										<li><a href="product-details.html">Product Details</a></li> 
										<li><a href="checkout.html">Checkout</a></li> 
										<li><a href="cart.html">Cart</a></li> 
										<li><a href="login.html">Login</a></li> 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li> 
								<li><a href="404.html">404</a></li>
								<li><a href="contact-us.html">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
				</div>
			</div> -->
	</header>

	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
						<div class="left-sidebar">
								<h2>Category</h2>
								<div class="panel-group category-products" id="accordian">
									<% categories.forEach( (category) => {  %>
										<% if(category.cparent == null){ %>
											<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordian" href="#<%= category.cname.replace(/ /g,'') %>">
															<span data-toggle="collapse" data-parent="#accordian"  href="#<%= category.cname %>"><%= category.cname %> </span>
															<span class="badge pull-right"><i class="fa fa-plus"></i></span>
														<!-- </a> -->
												</h4>
											</div>
											<div id="<%= category.cname.replace(/ /g,'') %>" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
														<% categories.forEach( (cat) => { %>
															<% if (cat.parentName == category.cname) { %>
																<li><a href="/products?cat=<%= cat.ID %>"> <%= cat.cname %> </a></li>
															<% } %>
															<% }) %>
													</ul>
												</div>
											</div>
										</div>
										<% } %>
									<% }) %>
								</div>
							</div>
				</div>
				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<% products.forEach((product) => { %>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.image %>" alt="" />
												<!-- <img src="<#%= product.image %>" height="268" width="249" alt="" /> -->
												<h2>
													<%= product.price %>
												</h2>
												<p>
													<a href="/product/<%= product.ID %>"> <%= product.name %> </a>
												</p>
												<!-- <a href="/order/new/<%= product.id %>" style="font-size:95%">Buy now</a>
	<a href="/cart/<%= product.id %>" style="font-size:95%">Add to cart</a>
		-->

												<a href="/cart/<%= product.ID %>" class="btn btn-default add-to-cart">
													<i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
										<!-- <div class="choose">
	 <ul class="nav nav-pills nav-justified">
	   <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
	   <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
	 </ul>
   </div> -->
									</div>
								</div>
						<% }) %>

					</div>
					<!--features_items-->
					<ul class="pagination">
					<% for(let i=1;i<=pages;i++){ %>
							<% if(i == page){ %>
								<li class="active">
							<% }else{ %>
								<li>
								<% } %>
								<% if(category){ %>
									<a href="/products?page=<%=i%>?cat=<%=category%>"><%= i %></a>
								<% }else{ %>
									<a href="/products?page=<%=i%>"><%= i %></a>
								<% } %>
							</li>
							<% } %>
							<% if(page < pages){ %>
							<li>
								<a href="/products?page=<%=page+1%>">&raquo;</a>
							</li>
							<% } %>
						</ul>
				</div>
			</div>
		</div>
	</section>


	<% include ../partials/footer.ejs %>
