<% include ../partials/header.ejs %>

	<section id="advertisement">
		<div class="container">
			<!-- <img src="/images/shop/advertisement.jpg" alt="" /> -->
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">           
				 <!--    Categories     -->

				<div class="col-sm-3">
						<div class="left-sidebar">
								<h2>Category</h2>
								<div class="panel-group category-products" id="accordian">
									<% categories.forEach( (category) => {  %>
										<% if(category.cparent == null){ %>
											<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordian" href="#<%= category.cname.replace(/ /g,'') %>">
															<span data-toggle="collapse" data-parent="#accordian"  href="#<%= category.cname %>"><%= category.cname %> </span>
															<span class="badge pull-right"><i class="fa fa-plus"></i></span>
														<!-- </a> -->
												</h4>
											</div>
											<div id="<%= category.cname.replace(/ /g,'') %>" class="panel-collapse collapse">
												<div class="panel-body">
													<ul>
	
														<% products.forEach((product) => { %>
															<% if(product.category_id == category.id){ %>
																<li><a href="/products/<%= product.id %>"> <%= product.name %> </a></li>
	
														   <% } %>
														<% }) %>
														<!-- <% categories.forEach( (cat) => { %>
															<% if (cat.parentName == category.cname) { %>
																<li><a href="/products?cat=<%= cat.id %>"> <%= cat.cname %> </a></li>
															<% } %>
															<% }) %> -->
													</ul>
												</div>
											</div>
										</div>
										<% } %>
									<% }) %>
								</div>
							</div>
				</div>
	
				<!-- End categories -->
					
				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<% products.forEach((product) => { %>
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="<%= product.image %>" alt="" />
												<!-- <img src="<#%= product.image %>" height="268" width="249" alt="" /> -->
												<h2>
													<%= product.price %>
												</h2>
												<p>
													<a href="/product/<%= product.id %>"> <%= product.name %> </a>
												</p>
												<a href="/cart/<%= product.id %>" class="btn btn-default add-to-cart">
													<i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
						<% }) %>

					</div>
					<!--features_items-->
					<ul class="pagination">
					<% for(let i=1;i<=pages;i++){ %>
							<% if(i == page){ %>
								<li class="active">
							<% }else{ %>
								<li>
								<% } %>
								<% if(category){ %>
									<a href="/products?page=<%=i%>?cat=<%=category%>"><%= i %></a>
								<% }else{ %>
									<a href="/products?page=<%=i%>"><%= i %></a>
								<% } %>
							</li>
							<% } %>
							<% if(page < pages){ %>
							<li>
								<a href="/products?page=<%=page+1%>">&raquo;</a>
							</li>
							<% } %>
						</ul>
				</div>
			</div>
		</div>
	</section>


	<% include ../partials/footer.ejs %>
