<% include ../partials/header.ejs %>



    <div class="container">
        <div class="row">

            <% include ../partials/categories.ejs %>
                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <!-- <img src="/images/product-details/1.jpg" alt="" /> -->
                                <!-- <img src="/<%= product.image %>"> -->
                                <div id="similar-product" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <% if(product.length >= 2){ %>
                                            <div class="item active">
                                                <img src="/<%= product[1].image %>">
                                            </div>
                                            <% } %>
                                            <% if(product.length >= 3){ %>
                                        <div class="item">
                                            <img src="/<%= product[2].image %>">
                                        </div>
                                        <% } %>
                                        <% if(product.length >= 4){ %>
                                        <div class="item">
                                            <img src="/<%= product[3].image %>">
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                            <% if(product.length >= 2){ %>
                                        <a href="">
                                                <img src="/<%= product[1].image %>" height="84" width="84">
                                            </a>
                                                <% } %>
                                                <% if(product.length >= 3){ %>
                                                    <a href="">
                                                            <img src="/<%= product[2].image %>"  height="84" width="84">
                                                        </a>
                                            <% } %>
                                            <% if(product.length >= 4){ %>
                                                <a href="">
                                                        <img src="/<%= product[3].image %>"  height="84" width="84">
                                                    </a>
                                            <% } %>               
                                    </div>
                                    <div class="item">
                                            <% if(product.length >= 2){ %>
                                                <a href="">
                                                        <img src="/<%= product[1].image %>" height="84" width="84">
                                                    </a>
                                                        <% } %>
                                                        <% if(product.length >= 3){ %>
                                                            <a href="">
                                                                    <img src="/<%= product[2].image %>"  height="84" width="84">
                                                                </a>
                                                    <% } %>
                                                    <% if(product.length >= 4){ %>
                                                        <a href="">
                                                                <img src="/<%= product[3].image %>"  height="84" width="84">
                                                            </a>
                                                    <% } %>  
                                    </div>
                                    <div class="item">
                                            <% if(product.length >= 2){ %>
                                                <a href="">
                                                        <img src="/<%= product[1].image %>" height="84" width="84">
                                                    </a>
                                                        <% } %>
                                                        <% if(product.length >= 3){ %>
                                                            <a href="">
                                                                    <img src="/<%= product[2].image %>"  height="84" width="84">
                                                                </a>
                                                    <% } %>
                                                    <% if(product.length >= 4){ %>
                                                        <a href="">
                                                                <img src="/<%= product[3].image %>"  height="84" width="84">
                                                            </a>
                                                    <% } %>  
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-7" style="padding-top:40px;">
                            <div class="product-information" >
                                <!--/product-information-->
                                <h2>Logo Design</h2>
                                <span>
                                    <span>$
                                        <%= product[0].price %>
                                    </span>
                                    <a class="btn btn-fefault cart" href="/cart/<%= product[0].id %>">
                                        <i class="fa fa-shopping-cart"></i>
                                        Place Order
                                    </a>
                                </span>
                                <% if(currentUser && currentUser.isAdmin){ %>
                                    <%= product[0].id %>
                                <form action="/products/<%= product[0].id %>?_method=DELETE" method="POST">
                                    <input class="btn btn-danger" type="submit" value="Delete product">
                                </form>
                                <% } %>
                                <p>
                                    <b>Delivery Time:</b> Within 48 Hours </p>
                            </div>
                            <!--/product-information-->
                        </div>
                    </div>
                    <!--/product-details-->

                    <div class="category-tab shop-details-tab">
                        <!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#details" data-toggle="tab">More Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="single-blog-post product-details">
                                <p>
                                    <%= product[0].longDesc %>
                                </p>
                                <br>
                          
                            </div>
                        </div>
                    </div>
                    <!--/category-tab-->
                </div>
        </div>
    </div>
    </section>


    <% include ../partials/footer.ejs %>
